* {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    background-color: #e3f0ff;
    background: url(../image/fundo.png) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.efeito-vidro {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logoinicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
}

.logotelainicio {
    width: 20%;
}

.logologin {
    width: 50%;
}

/* PAGINA DO LOGIN  */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.login_area {
    display: flex;
    width: 450px;
    height: 350px;
    align-items: center;
}

.login_area2 {
    width: 85%;
    align-items: center;
    padding-left: 50px;
}

.logo_area {
    width: 50%;

}

.img_logo_login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
