* {
    margin: auto;
    font-family: 'Inter', sans-serif;
}

html,
body {
    background-color: #e3f0ff;
    background: url(../image/fundo.png) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

.efeito-vidro {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.conteiner_index {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.logo_index {
    width: 350px;
}
