.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "topo_area topo_area topo_area topo_area"
        "aovivo_area filmes_area serie_area data_area"
        "aovivo_area filmes_area serie_area data_area";
    padding: 20px;
    font-size: 24px;
}

.topo_area {
    grid-area: topo_area;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.aovivo_area {
    grid-area: aovivo_area;
    width: 280px;
    height: 360px;
    justify-self: center;
    align-self: end;
}

.filmes_area {
    grid-area: filmes_area;
    width: 280px;
    height: 280px;
    justify-self: center;
    align-self: end;
}

.serie_area {
    grid-area: serie_area;
    width: 280px;
    height: 280px;
    justify-self: center;
    align-self: end;
}

.data_area {
    color: aliceblue;
    grid-area: data_area;
    width: 250px;
    height: 400px;
    justify-self: right;
    text-align: right;
    align-content: end;
    align-self: end;
    font-weight: 700;

}
