/* PAGINA DO INICIO  */
.container_inicio {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 3fr 1fr;
    gap: 0 0px;
    grid-template-areas:
        "topo_area topo_area topo_area topo_area "
        ". . . ."
        "aovivo_area filmes_area serie_area data_area";
    justify-content: end;
}

.topo_area {
    grid-area: topo_area;
    display: flex;
    width: 100%;
}

.topo_area_busca {
    width: 40%;

}

.topo_area_logo {
    width: 20%;
}

.topo_area_config {
    width: 40%;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topo_area_config img {
    margin: 0;
}

.aovivo_area {
    grid-area: aovivo_area;
    width: 320px;
    height: 380px;
    display: grid;
    justify-content: center;
    align-items: end;
    font-size: 30px;

}

.filmes_area {
    grid-area: filmes_area;
    width: 320px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: end;
    font-size: 32px;
    position: relative;
    top: 35px;
}

.serie_area {
    grid-area: serie_area;
    width: 320px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: end;
    font-size: 32px;
    position: relative;
    top: 35px;
}

.data_area {
    grid-area: data_area;
    width: 320px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: end;
    font-size: 32px;
    position: relative;
    top: 35px;
}

.hora {
    color: #f0f0f0;
    font-size: 72px;
    position: relative;
    top: 120px;
    left: 50px;
}

.data {
    color: #f0f0f0;
    font-size: 32px;
    position: relative;
    top: 30px;
    left: 15px;
}

.aovivo_area:hover,
.filmes_area:hover,
.serie_area:hover {
    background-color: #f0f0f0;
}

.logo_tela_inicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.form_busca_inicio {
    width: 370px;
    height: 40px;
    color: #564080;
    border: 1px solid #c9c7c8;
    border-radius: 5px;
    font-size: 16px;
}
